body{
	background: rgb(58, 58, 58);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/* HEADER */

header{
background: black;
background-image: url("slike/papuk6.jpg");
background-size: 100%;
background-position: center;
padding: 20px;
height: 400px;
text-align: center;
}
header a{
	color: black;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 40px;

}

header .logo a{
	background-image: url("slike/papuk4.jpg");
	background-size: 300px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 80px;
	position: relative;
	top: -40px;
	text-indent: -9999999px;
	width: 300px;

}

nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	}
	
	nav li{
	display: inline-block;
	margin-right: 20px;
	}

	/*FEATURES*/
.features{
background: white;
color: grey;
padding: 20px;
display: flex;
flex-direction: row;
}

.features figure{
	margin: auto;
	text-transform: uppercase;
	text-align: center;
	width: 200px;
}

.features figure img{
	border: 2px solid white;
	border-radius: 50%;
	box-shadow: gray 0 0  20px;
	width: 200px;
}

div{

margin: auto;
width: 100px;
}


footer{
background: black;
color: gray;
font-size: 12px;
text-align: center;
padding: 20px 20px;
}
